<div class="root" >
    <div class="board" cdkDropListGroup>
        <div class="board-bar">
            <div class="board-column-components"
                cdkDropList
                [cdkDropListData]="components"
                #componentsList="cdkDropList"
                [cdkDropListEnterPredicate]="noReturnPredicate"
                (cdkDropListDropped)="drop($event)">
                <div class="tasks-container">
                    <p matTooltip="Project: {{workspaceTitleFull}}" class="board-name">{{workspaceTitle}}</p>
                    
                    <ul class="menu">
                        <li matTooltip="Create a new form" class="menu-item" (click)="toggleNewFormModal()"><a class="color-1" href="#">New</a></li>
                        <li matTooltip="Open a form" class="menu-item" (click)="toggleOpenFormModal()"><a href="#">Open</a></li>
                        <li matTooltip="Save the current form" class="menu-item" (click)="saveForm()" *ngIf="workspaceTitle !== 'FlowCatalyst'"><a href="#">Save</a></li>
                        <li matTooltip="Export form" class="menu-item" (click)="toggleExportFormModal()" *ngIf="workspaceTitle !== 'FlowCatalyst'"><a href="#">Export</a></li>
                        <li class="menu-item has-submenu" *ngIf="workspaceTitle !== 'FlowCatalyst'"> Misc
                            <ul class="sub-menu">
                                <li matTooltip="Preview the current form" class="sub-menu-item"><a href="#">Preview</a></li>
                                <li matTooltip="Workspace settings" class="sub-menu-item" (click)="toggleSettingsModal()"><a href="#">Settings</a></li>
                                <li class="sub-menu-item" (click)="closeForm()"><a href="#">Close Form</a></li>
                                <hr>
                                <li class="sub-menu-item" (click)="toggleDeleteFormModal()"><a class="text-danger" href="#">Delete Form</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="task" *ngFor="let item of components" cdkDrag>
                        {{item.title}}
                    </div>
                    <p class="last-saved" *ngIf="lastSavedVisible">{{lastSaved}}</p>
                </div>
            </div>
        </div>
        <div class="locker" *ngIf="lockerVisible">
            Start by either creating a new form or opening an older one.<br>
            <button class="button is-color-1" (click)="toggleNewFormModal()">New Form</button>&nbsp;
            <button class="button is-info" (click)="toggleOpenFormModal()">Open Form</button>
        </div>
        <div class="board-wrapper" >
            <div class="board-columns">
                <div class="board-column-hierarchy"
                    cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="board"
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div class="column-title hierarchy-title">
                            Hierarchy
                    </div>
                    <div class="hierarchy-container" (cdkDropListDropped)="dropHierarchy($event)">
                        <span class="property-container-text" *ngIf="!componentTitle ? !componentTitle : null">
                            Please add one or more elements onto your board to display hierarchy.
                        </span>
                        <ul *ngFor="let hierarchyItem of hierarchyItems" cdkDrag>
                            <li class="hierarchy-item" [ngClass]="{'color-1': id === hierarchyItem.id }" id="{{hierarchyItem.id}}" (click)="loadProperties(hierarchyItem.id)"><span *ngIf="hierarchyItem.default?.length != 0" class="caret"></span> {{hierarchyItem.title}}</li>
                        </ul>
                        <!-- &#x25b6; Item 1 -->
                    </div>
                </div>
                <div class="board-column-main"
                    cdkDropList
                    [cdkDropListData]="board"
                    #doneList="cdkDropList"
                    (cdkDropListDropped)="drop($event)">
                    <div class="column-title">
                            {{boardMain}}
                    <span class="is-pulled-right board-right-items">
                        <a matTooltip="Undo changes" href="#">Undo</a>&nbsp;
                        <a matTooltip="Redo changes" href="#">Redo</a>&nbsp;
                        <a matTooltip="Edit code" href="#">< / ></a>
                    </span>
                    </div>
                    <div class="items-container">
                        <div class="tasks-container">
                            <p *ngIf="board.length == 0" class="board-container-text">You can add new elements to your board by dragging them from the top menu.</p>
                            <div class="task" [ngClass]="{'color-bg-1': id === item.id }" *ngFor="let item of board" (click)="loadProperties(item.id, $event)" id="{{item.id}}" cdkDrag>
                                <div class="item-left">(0)</div>
                                <div *ngIf="!item.editing; else editingItem" class="item-label"
                                (dblclick)="editItem(item)">
                                    <div *ngIf="!item.prompt; else showTitle">{{item.title}}</div>
                                    <ng-template #showTitle>{{item.prompt}}</ng-template>
                                </div>
                                <ng-template #editingItem>
                                    <input type="text" name="item" class="item-edit" [(ngModel)]="itemPrompt" placeholder="{{item.title}} (keyup.enter)="addItem()">
                                </ng-template>
                                <div class="item-right" (click)="deleteItem(item.id)">(X)</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-properties board-column-properties">
                <div class="column-title property-title">
                        Properties
                </div>
                    <div class="property-container">
                        <span class="property-container-text" *ngIf="!componentTitle ? !componentTitle : null">
                            Please add a new element or select an existing one to edit its properties.
                        </span>
                        <span class="properties-items">
                            <h4 class="property-selected-title">{{componentTitle}}</h4>
                            <hr *ngIf="componentTitle ? componentTitle : null">
                            <div class="properites" *ngFor="let property of properties">
                                <div class="input-group property-group">
                                    {{property.title}}: 
                                    <input id="{{property.title}}" class="form-control property-input" type="text" placeholder="{{property.title}}" value="{{property.value}}">
                                </div>
                            </div>
                        </span>
                        <button matTooltip="Save current element properties." class="button is-color-1 btn-block btn-properties" [attr.disabled]="!componentTitle ? !componentTitle : null"  (click)="saveProperties()">Save Properties</button>
                        <!--
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{ 'is-active' : isNewModalActive }">
  <div class="modal-background" (click)="toggleNewFormModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New Form</p>
      <button class="delete" aria-label="close" (click)="toggleNewFormModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="form-group">
        <label for="formTitle">Form Title/Customer</label>
        <div class="input-group">
          <input id="formTitle" class="form-control" placeholder="Title/Customer" name="formTitle" [(ngModel)]="formTitle">
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-color-1" (click)="createForm()">Create Form</button>
      <button class="button" (click)="toggleNewFormModal()">Cancel</button>
    </footer>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active' : isOpenModalActive }">
  <div class="modal-background" (click)="toggleOpenFormModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Open Form</p>
      <button class="delete" aria-label="close" (click)="toggleOpenFormModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="form-group">
        <label for="formTitle">Select Form</label>
        <select class="form-control" name="my-dropdown" [(ngModel)]="openFormDropdown">
            <option selected disabled>Select a form</option>
            <option *ngFor="let selectFormTitle of selectFormTitles" [ngValue]="selectFormTitle.id">{{selectFormTitle.title}}</option>
        </select>
      </div>
      <hr>
      Open from a file (.XML or .JSON)
        <div class="file has-name is-fullwidth">
          <label class="file-label">
            <input class="file-input" type="file" name="resume">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
            <span class="file-name">
              
            </span>
          </label>
        </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-color-1" (click)="openForm()">Open Form</button>
      <button class="button" (click)="toggleOpenFormModal()">Cancel</button>
    </footer>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active' : isExportModalActive }">
  <div class="modal-background" (click)="toggleExportFormModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Export Form</p>
      <button class="delete" aria-label="close" (click)="toggleExportFormModal()"></button>
    </header>
    <section class="modal-card-body">
      Export format
      <select class="form-control" [(ngModel)]="exportFormat">
        <option value="json">JSON File</option>
        <option value="xml">XML Document</option>
      </select>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-color-1" (click)="exportForm()">Export Form</button>
      <button class="button" (click)="toggleExportFormModal()">Cancel</button>
    </footer>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active' : isSettingsModalActive }">
  <div class="modal-background" (click)="toggleSettingsModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Settings</p>
      <button class="delete" aria-label="close" (click)="toggleSettingsModal()"></button>
    </header>
    <section class="modal-card-body">
       <div class="form-group">
        <label for="autoSave">Autosave Settings</label>
        <div class="input-group">
          Autosave: <input id="autoSave" type="checkbox" class="form-control checkbox-form" name="autoSave" [(ngModel)]="autoSave">
        </div>
        <div class="input-group">
          <input id="autoSaveIntervalDraft" type="number" class="form-control" placeholder="How often should it save? (seconds)" name="autoSaveIntervalDraft" [(ngModel)]="autoSaveIntervalDraft" value="30">
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-color-1" (click)="saveSettings()">Save Settings</button>
      <button class="button" (click)="toggleSettingsModal()">Cancel</button>
    </footer>
  </div>
</div>


<div class="modal" [ngClass]="{ 'is-active' : isDeleteFormModalActive }">
  <div class="modal-background" (click)="toggleDeleteFormModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete Form <span class="modal-span">"{{workspaceTitle}}"</span></p>
      <button class="delete" aria-label="close" (click)="toggleDeleteFormModal()"></button>
    </header>
    <section class="modal-card-body">
      Are you sure you wish to delete <b><i>{{workspaceTitle}}</i></b>? You won't be able to access it again.
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" (click)="deleteActiveForm()">Delete Form</button>
      <button class="button" (click)="toggleDeleteFormModal()">Cancel</button>
    </footer>
  </div>
</div>
